// out: ../css/styles.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true
*, *::after, *::before {
    box-sizing: border-box;
    transition: 0.3s ease-in;
}

:root {
  --text: #444;
  --prime: #19adaf;
  --second: #1eba7e;
  --bodybg: #f3fffa;
  font-size: 24px;

  @media( min-width: 1400px) {
      font-size: 36px;
  }
  @media( max-width: 1024px) {
      font-size: 18px;
  }
  @media( max-width: 640px) {
      font-size: 14px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
    background: var(--second); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff; 
    background: var(--bodybg); 
    opacity: 0.8;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
    background: var(--bodybg);
    color: #444;
    color: var(--text);
}

a{
    color: inherit;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}


.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}


@import './vendors/nav';
@import './vendors/banner';
@import './vendors/about';
@import './vendors/portfolio';
@import './vendors/find-me';


